html {
  background: linear-gradient(to right, #0000007a, #f104044f), url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.prsformusic.com%2F-%2Fmedia%2Fimages%2Feditorial---music%2Fstudio-photography%2Fmisc-artists-by-genre%2Fdj%2Fdjheader3.jpg&f=1&nofb=1');
  background-position: center;
  background-attachment: fixed;
  background-position-y: center;
  overflow: auto;
  color: #ffffff;
  background-color: #00000082;  
}

#wrapper {
  display: grid;
  grid-template-areas: "header header header"
                       "songs songs songs";
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
}
.bghighlight {
  width: 85vw;
  margin:auto;
  height: 100%;
}
#songWrapper {
  grid-area: songs;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px;
  width: 80vw;
  height: 100%;
}

article {
  justify-content: center;
  width: 30%;
  margin: 10px;
  text-align: center;
}

header {
  grid-area: header;
  margin-bottom: 30px;
  justify-self: center;
  text-align: center;
  width: 85vw;
}

header h1, label{
  text-align: center;
  margin-bottom: 5px;
}

header input {
  margin: 10px;
  margin-bottom: 25px;
}

audio {
  width: 100%;
  background-color: #24273da6;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  #wrapper {
    display: block;
    margin: none;
    padding: none;
    width: 100%;
  }
  #songWrapper {
    display: block;
    width: auto;
    justify-content: space-around;
  }
  #songs img {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
  }
}
